body {
    padding: 0;
    margin: 0;
    background-color: #D5D7EC;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #7BD3EB;
}

#well {
    text-align: center;
}

#wrapper {
    display: block;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 600px;
    background-color: #E5E7F3;
    z-index: 1;
    text-align: center;
    list-style-type: none;
    box-shadow: 0 0 50px black;
    border-radius: 10px;
    color: #24244A;
    overflow: auto;
}

ul {
    list-style-type: none;
    padding: 20px 0;
}

li {
    margin: 10px 0;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}

li:hover {
    color: #cf0404;
}

#game {
    text-align: center;
    color: #cf0404;
    cursor: pointer;
}

#progress {
    width: 20%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
}

#looseMenu {
    width: 300px;
    height: 400px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: yellow;
    text-align: center;
}

#wait {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 24px;
}

#back {
    position: absolute;
    left: 30px;
    top: 30px;
    font-weight: bolder;
    color: #cf0404;
    cursor: pointer;
}

table {
    margin: auto;
    border-collapse: collapse;
}

td {
    padding: 10px 30px;
    border: 1px solid green;

}

#tableScore {
    font-weight: bold;
    color: #cf0404;
}
